/* Ejercicio 2 */
.card-heroe {
  background-color: var(--bs-gray-800);
}

.card-heroe:hover {
  background-color: var(--bs-primary);
  border: none !important;
}

.card-heroe:hover span {
  opacity: 1 !important;
}
